.root {
    -fx-background-color: linear-gradient(to bottom, #0d0d0d, #1a1a1a);
}

.button {
    -fx-font-size: 18px;
    -fx-text-fill: white;
    -fx-background-color: #444444;
    -fx-background-radius: 15;
    -fx-padding: 10 20;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #666666;
}

.button:pressed {
    -fx-background-color: #222222;
}